main {
    padding: 2.5rem;
}

.form {
    display: flex;
    flex-direction: column;
}

.form--inputs-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.form--input {
    width: 100%;
    font-size: 0.8rem;
    height: 2.5rem;
    border: 1px solid #D5D4D8;
    padding: 0.6rem;
    border-radius: 4px;
}

.form--input:first-of-type {
    margin-right: 5%;
}

.form--input:focus {
    outline: none;
    border-color: rgba(29, 42, 165, 0.342);
    box-shadow: 0 0 3px 3px rgba(29, 42, 165, 0.342);
}

.form--button {
    width: 100%;
    font-size: 0.9rem;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    border-radius: 5px;
    align-self: center;
    color: white;
    padding: 0.8rem;
    line-height: 19px;
    letter-spacing: -0.1em;
    border: none;
    cursor: pointer;
    background-color: darkmagenta;
}

.form--button:hover {
    background: linear-gradient(90.41deg, #9a2bbe 1.14%, #c31dfa 100%);
}

.meme {
    margin-top: 2rem;
    position: relative;
    display: flex;
    justify-content: center;
}

.meme--image {
    border-radius: 2px;
    align-self: center;
    width: 50%;
}

.meme--text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.bottom {
    bottom: 0;
}

.top {
    top: 0;
}

@media (max-width: 576px) {
    .meme--image {
        width: 100%;
    }
}

@media (min-width: 1600px) {
    .form--input {
        font-size: 1rem;
        height: 3rem;
    }

    .meme--image {
        width: 40%
    }
}

@media (min-width: 3000px) {
    .form--input {
        height: 3.5rem;
    }

    .meme--image {
        width: 25%
    }
}