.header {
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    padding: 1.4rem 1rem;
}

.header > img {
    width: 2rem;
    margin-right: 0.5rem;
}

.header--title {
    font-size: 1rem;
    margin-right: auto;
}

.header--subtitle {
    font-size: 0.8rem;
}

@media (min-width: 1000px) {
    .header {
        padding: 1rem;
    }
}

@media (min-width: 1600px) {
    .header {
        padding: 1.5rem;
    }
}

@media (min-width: 3000px) {
    .header {
        padding: 2rem;
    }
}